/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 13px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: #222; /* Dark background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #3f51b5,
    #7c4dff
  ); /* Lighter blue to violet blue gradient */
  border-radius: 10px;
  border: 2px solid #111; /* Dark border to make the thumb stand out */
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    #7c4dff,
    #3f51b5
  ); /* Hover effect with the gradient */
}

::-webkit-scrollbar-corner {
  background: #222; /* Corner background color */
}
